# Ignore artifacts:
build
.github
pnpm-lock.yaml
node_modules
package.json
pnpm-workspace.yaml

.prettier-move.json

worker-configuration.d.ts

private*

mint/imagelinks.json
mint/badges_example.json
mint/badges.json
mint/JSON/
